{% extends "coach/base.html" %}
{% block content %}
<!-- 會員資訊欄 -->
<div id="userCard" class="bg-gray-300 rounded-lg p-6 mb-6 text-center cursor-pointer">
  <!-- 未登入顯示 -->
  <div id="unauthenticatedContent">
    <p class="text-lg font-semibold text-gray-600">請登入會員</p>
  </div>

  <!-- 已登入顯示 -->
  <div id="authenticatedContent" style="display: none;">
    <p id="userInfo" class="text-lg font-semibold text-gray-600"></p>
    <p id="userEmail" class="text-md text-gray-500 mt-1"></p>
    <button id="logoutButton" class="mt-2 px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">登出</button>
  </div>
</div>

{% include "coach/login.html" %}

<h2 class="text-xl font-bold mb-4">最新學生邀請</h2>
<div id="userInvites" class="my-5 "></div>

<script type="module" src="{{ url_for('static', path='/js/coach/index.js') }}"></script>
{% endblock %}
