<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}ShiShow 健身課程管理{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/output.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>
<body class="bg-gray-100 font-sans">
  <header class="fixed top-0 left-0 right-0 bg-white shadow-md z-50">
      <div class="flex justify-between items-center p-4">
          <a href="/coach" class="flex items-center">
              <div class="bg-green-200 p-2 rounded">
                  <span class="text-xl font-bold text-[#352c1d]">ShiShow 教練管理平台</span>
              </div>
          </a>
          <div class="flex space-x-4">
              <div class="w-6 h-6 flex items-center justify-center rounded">
                <i data-feather="bell"></i>
              </div>
              <div class="w-6 h-6flex items-center justify-center rounded">
                <i data-feather="message-circle"></i>
              </div>
          </div>
      </div>
  </header>
  <main class="mt-20 mb-20 p-4">
    {% block content %}{% endblock %}
  </main>
    {% include 'coach/navbar.html' %}
<script>
  feather.replace()
</script>
</body>
</html>

