<div id="editGymsModal" class="hidden fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto h-full w-full">
  <div class="relative top-20 mx-auto p-5 border w-96 shadow-lg rounded-md bg-white">
    <div class="mt-3 text-center">
      <h3 class="text-lg leading-6 font-medium text-gray-900">選擇上課場館</h3>
      <div class="mt-2 px-7 py-3">
        <form id="editGymsForm">
          <select id="gymCitiesSelect" class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none mb-4">
            <option value="">選擇城市</option>
          </select>
          <select id="gymsSelect" class="w-full px-3 py-2 text-gray-700 border rounded-lg focus:outline-none mb-4">
            <option value="">選擇場館</option>
          </select>
          <div id="selectedGymsList" class="text-left mb-4">
          </div>
          <div class="flex justify-between items-center px-4 py-3">
            <button id="cancelGymsButton" type="button" class="px-4 py-2 bg-gray-300 text-gray-700 text-base font-medium rounded-md shadow-sm hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-300">
              取消
            </button>
            <button id="updateGymsButton" type="submit" class="px-4 py-2 bg-green-500 text-white text-base font-medium rounded-md shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-300">
              更新
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
