<nav class="fixed bottom-0 left-0 right-0 bg-white border-t border-gray-200">
  <div class="flex justify-around items-center h-16">
	  <a href="/" class="flex flex-col items-center justify-center w-1/4 text-gray-500">
		  <i data-feather="home"></i>
		  <span class="text-xs mt-1">首頁</span>
	  </a>
	  <a href="/booking" class="flex flex-col items-center justify-center w-1/4 text-gray-500">
		  <i data-feather="calendar"></i>
		  <span class="text-xs mt-1">預約課程</span>
	  </a>
	  <a href="/my_courses" class="flex flex-col items-center justify-center w-1/4 text-gray-500">
		  <i data-feather="clock"></i>
		  <span class="text-xs mt-1">我的行程</span>
	  </a>
	  <a href="/user" class="flex flex-col items-center justify-center w-1/4 text-gray-500">
		  <i data-feather="user"></i>
		  <span class="text-xs mt-1">會員中心</span>
	  </a>
  </div>
</nav>
